.reveal section h1 {
  line-height: 1.3em;
}
.reveal section h2 {
  margin-bottom: 1em;
  line-height: 1.3em;
}
.reveal section h3 {
  margin-bottom: 1em;
  line-height: 1.3em;
}
.reveal section img.noborder {
  border: 0;
  box-shadow: none;
  background: transparent;
}
.reveal section .diagram-title {
  font-size: 1.5em;
  margin: -85px 0 0;
}

.reveal section img.diagram {
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  height: 600px;
}
.reveal section ul {
  margin-top: 2em;
  margin-bottom: 2em;
}
.reveal dl {
  clear: both;
  display: block;
  overflow: hidden;
}
.reveal dl dt {
  display: block;
  font-weight: bold;
  float: left;
  clear: left;
  width: 22%;
  margin-right: 3%;
  text-align: right;
}
.reveal dl dd {
  display: block;
  float: left;
  clear: right;
  width: 75%;
  text-align: left;
}
.reveal p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.reveal p.left {
  text-align: left;
}
.reveal code.path {
  display: inline-block;
  border: 1px solid silver;
  padding: 4px 8px;
  border-radius: 3px;
}
.reveal h1, .reveal h2, .reveal h3 .reveal p {
  hyphens: none;
}
.reveal blockquote {
  background: #fff;
  color: #657b83;
}
.reveal blockquote .author {
    font-size: 50%;
    font-style: ;
}

.reveal blockquote .author img{
    height: 100px;
    vertical-align: middle;
    margin-right: 15px;
    border-radius: 50px;
}
.reveal table tr {
  vertical-align: middle;
}
.reveal table tr td {
  vertical-align: middle;
}
.reveal table span.equal {
  font-size: 3em;
}


/*
.intro .reveal .state-background {
  background: rgb(49,49,49);
}
.arch .reveal .state-background {
  background: #FFBFB3;
}
.git .reveal .state-background {
  background: #CE5B46;
}
.vagrant .reveal .state-background {
  background: #6CC1FA;
}
.fabric .reveal .state-background {
  background: #619D75;
}
.logo .reveal .state-background {
  background: #fff;
}

.intro   .reveal, .intro   .reveal h1, .intro   .reveal h2, .intro   .reveal h3 {
  color: #fff;
}

/*
.intro   .reveal, .intro   .reveal h1, .intro   .reveal h2, .intro   .reveal h3,
.arch    .reveal, .arch    .reveal h1, .arch    .reveal h2, .arch    .reveal h3,

.git     .reveal, .git     .reveal h1, .git     .reveal h2, .git     .reveal h3,
.vagrant .reveal, .vagrant .reveal h1, .vagrant .reveal h2, .vagrant .reveal h3,
.fabric  .reveal, .fabric  .reveal h1, .fabric  .reveal h2, .fabric  .reveal h3 {
  color: #fff;
}
*/
